<!-- Header fixe -->
<div class=" w-full shrink-0 flex items-center justify-between p-2.5 border-b border-prussian-blue-100">
  <span class="text-xs font-semibold text-gray-400 tracking-wide">DÉTAILS DU DOCUMENT</span>
  <i class="pi pi-external-link text-sm text-prussian-blue-300 cursor-pointer hover:text-prussian-blue-600"></i>
</div>

<!-- Corps scrollable -->
<div class="flex-1 min-h-0 overflow-y-auto scroll-smooth sidebar-tree-scroll p-1.5 flex flex-col gap-4">

  <app-document-info-card
    [name]="document().name"
    [id]="document().docId"
    [icon]="document().icon"
    [iconColor]="document().iconColor"
    [tags]="document().tags"
  />

  <hr class="border-prussian-blue-100" />

  <app-document-metadata-section title="MÉTADONNÉES SYSTÈME" [items]="document().systemMetadata" />

  <hr class="border-prussian-blue-100" />

  <app-document-metadata-section title="MÉTADONNÉES MÉTIER" [items]="document().businessMetadata" />

  <hr class="border-prussian-blue-100" />

  <div>
    <h4 class="flex items-center gap-1.5 text-xs font-semibold text-gray-400 tracking-wide mb-2">
      <i class="pi pi-sparkles text-[11px]"></i>
      RÉSUMÉ AUTO (IA)
    </h4>
    <p class="text-sm text-pgray-700 leading-relaxed">{{ document().aiSummary }}</p>
  </div>


</div>

<div
  class="w-full shrink-0 p-2 border-t border-prussian-blue-100 flex items-center justify-between text-xs text-gray-400">
  <span>Ceci est le footer</span>
  <span class="font-mono">Footer</span>
</div>
