<div class="shrink-1 flex items-center justify-between pl-1 pt-1 pb-3 mb-3 border-b border-prussian-blue-100">
   <div class="flex items-center gap-2">
    <app-breadcrumb [segments]="breadcrumbSegments()"
      (segmentClick)="onBreadcrumbClick($event)" />
  </div>
   <div class="flex items-center gap-2">
    @if (state.isSearchMode()) {
    <button
      class="flex items-center gap-1.5 px-3 py-1.5 rounded-full text-xs font-medium border border-prussian-blue-200 text-prussian-blue-600 hover:bg-prussian-blue-50 transition-colors"
      (click)="onClearSearch()">
      <i class="pi pi-times text-[10px]"></i>
      Effacer la recherche
    </button>
    }
    @if (!state.isSearchMode()) {
      <app-document-filters
        [tagOptions]="tagFilterOptions()"
        [(activeTags)]="activeTagFilters" />

      }
    <app-document-toolbar
      [viewMode]="viewMode()"
      (viewModeChange)="viewMode.set($event)"
      (sortClick)="onSort()"
      (newClick)="onNew()" />
  </div>




</div>

<div class="flex-1 min-h-0">
  @if (state.isLoadingPublished() && !state.isSearchMode()) {
  <div
    class="flex items-center justify-center h-full text-sm text-prussian-blue-300">
    Chargement...
  </div>
  } @else if (state.publishedLoadError() && !state.isSearchMode()) {
  <div class="flex items-center justify-center h-full text-sm text-red-500">
    {{ state.publishedLoadError() }}
  </div>
  } @else {
  <app-document-table
    [documents]="displayedDocuments()"
    (rowClick)="onDocClick($event)" />
  }
</div>
