<div class="flex flex-col h-full min-h-0">
  <div
    class="w-full flex justify-center shrink-0 pl-2 mt-1 pt-0.5 pb-3  border-b border-prussian-blue-100">
    <app-document-filters
      [tagOptions]="tagFilterOptions"
      [(activeTags)]="activeTagFilters"
      (dateClick)="onDateClick()" />
  </div>
  <div
    class="w-full shrink-0 flex items-center justify-between pl-2  p-2.5  border-b border-prussian-blue-100">
    <app-breadcrumb [segments]="breadcrumb"
      (segmentClick)="onBreadcrumbClick($event)" />
    <app-document-toolbar
      [viewMode]="viewMode()"
      (viewModeChange)="viewMode.set($event)"
      (sortClick)="onSort()"
      (newClick)="onNew()" />
  </div>

  <div class="flex-1 min-h-0">
    <app-document-table [documents]="documents()" />
  </div>
  <!-- Footer fixe -->
  <div
    class="shrink-0 p-2 border-t border-prussian-blue-100 flex items-center justify-between text-xs text-gray-300">
    <span> C'est quoi?</span>
    <span class="font-mono">Ceci n'est qu'un test de footer</span>
  </div>
</div>