<div class="relative">

  <button
    class="flex items-center gap-1.5 px-3 py-1.5 rounded-full text-xs font-medium border transition-all duration-150 hover:scale-105 active:scale-95"
    [class.border-prussian-blue-200]="activeTags().length === 0"
    [class.text-gray-600]="activeTags().length === 0"
    [class.hover:bg-prussian-blue-50]="activeTags().length === 0"
    [class.border-prussian-blue-500]="activeTags().length > 0"
    [class.bg-prussian-blue-50]="activeTags().length > 0"
    [class.text-prussian-blue-700]="activeTags().length > 0"
    (click)="toggle()">
    <i class="pi pi-tag text-[11px] text-gray-400"></i>
    {{ displayLabel() }}
    <i class="pi pi-angle-down text-[10px] text-gray-400"></i>
  </button>

  <div
    class="absolute right-0 left-auto top-full mt-2 w-56 bg-white rounded-xl border border-prussian-blue-100 shadow-lg origin-top-right transition-all duration-150 z-[100]"
    [class.opacity-0]="!isOpen()"
    [class.scale-95]="!isOpen()"
    [class.pointer-events-none]="!isOpen()"
    [class.opacity-100]="isOpen()"
    [class.scale-100]="isOpen()">
    <div
      class="flex items-center justify-between px-3 py-2 border-b border-prussian-blue-100">
      <span class="text-[11px] font-semibold text-gray-500 tracking-wide">
        FILTRER PAR TAG
      </span>

      @if (activeTags().length > 0) {
      <button
        class="text-[11px] cursor-pointer text-prussian-blue-600 hover:text-prussian-blue-700 transition-colors"
        (click)="clearAll()">
        Annuler
      </button>
      }
    </div>

    <div class="max-h-64 overflow-y-auto py-1">
      @for (tag of tagOptions(); track tag.label) {
        <button
          class="w-full flex items-center gap-2.5 px-3 py-2 text-sm text-gray-700 hover:bg-prussian-blue-50 transition-colors"
          (click)="toggleTag(tag.label)"
        >
          <div
            class="w-4 h-4 rounded border flex items-center justify-center shrink-0 transition-colors"
            [class.bg-prussian-blue-700]="isActive(tag.label)"
            [class.border-prussian-blue-700]="isActive(tag.label)"
            [class.border-prussian-blue-200]="!isActive(tag.label)"
          >
            @if (isActive(tag.label)) {
              <i class="pi pi-check text-white text-[10px]"></i>
            }
          </div>

          <!-- <span class="w-1.5 h-1.5 rounded-full {{ tag.dotColor }}"></span> -->

          <span class="truncate">
            {{ tag.label }}
          </span>
        </button>
      } @empty {
        <p class="px-3 py-2 text-xs text-gray-400">
          Aucun tag disponible
        </p>
      }
    </div>

  </div>
  <app-dropdown-backdrop [visible]="isOpen()" />
</div>