<!-- Colonne gauche : file d'attente -->
<aside
  class="w-96 shrink-0 bg-white rounded-xl border border-prussian-blue-100  flex flex-col min-h-0">
  <IngestPanel/>
  <app-import-queue-list />
</aside>

<!-- Colonne droite : formulaire de validation -->
<main
  class="flex-1 bg-white rounded-xl border border-prussian-blue-100  flex flex-col min-h-0">

  @if (state.detail(); as doc) {

  <div class="shrink-0 border-b border-prussian-blue-100">
    <app-import-preview-card [document]="doc" />
  </div>

  <div
    class="flex-1 min-h-0 overflow-y-auto scroll-smooth sidebar-tree-scroll p-1.5 flex flex-col gap-5">

    <app-title-field
      label="Titre"
      [(value)]="doc.title" />

    <div class="grid grid-cols-2 gap-4">
      <app-classification-select
        label="Domaine"
        placeholder="Choisir un domaine"
        [options]="domainOptions()"
        [value]="domainCode()"
        (valueChange)="onDomainChange($event)" />
      <app-classification-select
        label="Type de document"
        placeholder="Choisir un type"
        [options]="typeOptions()"
        [disabled]="!domainCode()"
        [(value)]="typeCode" />
      <app-classification-select
        label="Confidentialité"
        [options]="confidentialityOptions"
        [(value)]="confidentiality" />
    </div>
    <!-- Tags -->
    <app-tags-editor [documentId]="doc.id" [(tags)]="doc.tags" />

  </div>
  <app-validation-footer
    [remainingCount]="state.remainingCount()"
    [validateDisabled]="!canValidate()"
    (cancelClick)="onCancel()"
    (validateClick)="onValidate()" />

  } @else if (state.isDetailLoading()) {
  <div
    class="flex-1 flex items-center justify-center text-gray-500 text-sm">
    Chargement...
  </div>
  } @else if (state.detailError()) {
  <div
    class="flex-1 flex items-center justify-center text-red-500 text-sm">
    {{ state.detailError() }}
  </div>
  } @else {
  <div
    class="flex-1 flex items-center justify-center text-gray-500 text-sm">
    Tous les imports ont été traités
  </div>
  }
</main>