<!-- Header fixe -->
<div class="shrink-0 p-3  border-b border-prussian-blue-100">
  <div class="flex items-center justify-between mb-3">
    <span class="text-xs font-semibold text-prussian-blue-400 tracking-wide">HIERARCHY EXPLORER</span>
    <div class="flex items-center gap-2 text-prussian-blue-300">
      <i class="pi pi-plus-circle text-xs cursor-pointer hover:text-prussian-blue-600"></i>
      <i class="pi pi-folder-plus text-xs cursor-pointer hover:text-prussian-blue-600"></i>
    </div>
  </div>
  <p-iconField>
    <i class="pi pi-block-quote absolute left-3 top-1/2 -translate-y-1/2 text-prussian-blue-300 text-sm"></i>
    <input
    pInputText
    type="text"
    placeholder="\client\project\invoices"
    class="w-full !text-xs !py-2 !bg-prussian-blue-50 !border-prussian-blue-100 font-mono"
  />
  </p-iconField>

</div>

<!-- Tree : seule zone qui scroll -->
<div class="hierarchy-tree flex-1 min-h-0 overflow-y-auto scroll-smooth sidebar-tree-scroll pr-1 bg-prussian-blue-50/30">
  <p-tree [value]="nodes()" styleClass="!border-none !p-0 !bg-transparent">

      <ng-template let-node pTemplate="default">
        <div
          class="flex items-center justify-between w-full pr-2 rounded-md transition-colors duration-150 cursor-pointer"
          [class.bg-prussian-blue-100]="node.data?.active"
          [class.border-l-[3px]]="node.data?.active"
          [class.border-prussian-blue-600]="node.data?.active"
          [class.pl-1]="node.data?.active"
          [class.hover:bg-prussian-blue-50]="!node.data?.active"
        >
          <div class="flex items-center gap-2 py-1.5">

            <span
              class="text-xs"
              [class.font-semibold]="node.data?.active"
              [class.text-prussian-blue-900]="node.data?.active"
              [class.text-prussian-blue-700]="!node.data?.active"
            >
              {{ node.label }}
            </span>
          </div>
          <span
            class="text-xs px-1.5 py-0.5 rounded"
            [class.bg-prussian-blue-200]="node.data?.active"
            [class.text-prussian-blue-700]="node.data?.active"
            [class.bg-prussian-blue-50]="!node.data?.active"
            [class.text-prussian-blue-400]="!node.data?.active"
          >
            {{ node.data?.count }}
          </span>
        </div>
      </ng-template>
  </p-tree>
</div>

<!-- Footer fixe -->
<div class="shrink-0 p-2 border-t border-prussian-blue-100 flex items-center justify-between text-xs text-gray-300">
  <span>{{ totalDocs }} · {{ totalSize }}</span>
  <span class="font-mono">{{ version }}</span>
</div>