<div class="h-screen bg-prussian-blue-50/30 flex flex-col overflow-hidden">

  <app-topbar />

  <div class="p-2.5 pb-0.5 flex flex-col gap-3 flex-1 min-h-0">
    <div class="flex items-center gap-3">
      <div class="flex-1">
        <IngestPanel />
      </div>
      <!-- BOUTON TEMPORAIRE DE TEST — à retirer une fois les routes en place -->
      <button
        class="shrink-0 flex items-center gap-2 px-4 py-3 rounded-xl bg-prussian-blue-900 text-white text-xs font-medium hover:bg-prussian-blue-800 transition-all duration-150 hover:scale-105 active:scale-95"
        (click)="toggleView()">{{ currentView() }}
      </button>
    </div>

    @switch (currentView()) {
    @case ('documents') {

    <div class="flex gap-1 flex-1 min-h-0">

      <!-- Sidebar gauche -->
      <aside
        class="w-65 shrink-0 bg-white rounded-xl border border-prussian-blue-100 flex flex-col min-h-0">
        <app-sidebar />
      </aside>

      <!-- Zone de contenu principale -->
      <main
        class="flex-1 bg-white rounded-xl border border-prussian-blue-100 p-0 overflow-y-auto">
        <router-outlet />
      </main>

      <!-- shell.component.html, aside droit -->
      <aside
        class="w-70 shrink-0 bg-white rounded-xl border border-prussian-blue-100  flex flex-col min-h-0">
        @if (selectedDetail(); as detail) {
        <app-document-detail-panel [document]="detail" />
        } @else {
        <div
          class="flex-1 flex items-center justify-center text-sm text-gray-300 text-center px-4">
          Sélectionnez un document pour voir ses détails
        </div>
        }
      </aside>

    </div>
    }

    @case ('validation') {
    <app-validation-view />
    }
    }

  </div>

</div>