<header class="h-12 flex items-center justify-between px-6 bg-white border-b border-prussian-blue-100">

  <!-- Logo + titre -->
  <div class="flex items-center gap-3">
    <div class="w-9 h-9 rounded-lg bg-prussian-blue-800 flex items-center justify-center">
      <i class="pi pi-file-import text-white text-lg"></i>
    </div>
    <div class="leading-tight">
      <div class="font-semibold text-gray-800 text-sm">E-Lamina</div>
      <div class="text-xs text-gray-500 tracking-wide">Alamino milamina</div>
    </div>
  </div>

  <app-search-dropdown />
  <!-- <app-advanced-search-panel /> -->
  <!-- Changement de view en document ou validation -->
  <app-view-toggle />
  <!-- Profil utilisateur -->
  <app-user-menu />

</header>
